@model IEnumerable<Project.Models.baiviet>
@using Project.Models

@if (Model != null)
{
    HttpCookie cookie = HttpContext.Current.Request.Cookies["Language"];
    <div class="col-duy-8">
        <a href="#"><h2 class="title-highlight">@Project.Resources.MyText.Spotlight</h2></a>
        <div class="list-topic">
            @foreach (var item in Model)
            {
                <div class="list-topic-item">
                    <div class="topic-item-thumbnail">
                        <a href="@Url.Action("View","Article",new{id=@item.aid,title=UrlEncoder.ToFriendlyUrl(item.name)})"><img src="~/images/thumbnail/@Url.Content(item.img)" alt=""></a>
                    </div>
                    <div class="topic-item-infor">
                        <a href="@Url.Action("Category","Home",new{id=@item.cid})" class="category-name">
                            @{
                                if (cookie != null && cookie.Value == "en-US")
                                {
                                    @item.cate_en
                                }
                                else
                                {
                                    @item.cate
                                }
                            }
                        </a>
                        <span class="times">@item.day</span>
                        <h2 class="title">
                            @{
                                if (cookie != null && cookie.Value == "en-US")
                                {
                                    <a href="@Url.Action("View","Article",new {id=item.aid,title=UrlEncoder.ToFriendlyUrl(item.name_en) })">@item.name_en</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("View","Article",new {id=item.aid,title=UrlEncoder.ToFriendlyUrl(item.name) })">@item.name</a>
                                }
                            }
                        </h2>
                    </div>
                </div>
                <!-- list topic item -->
            }
        </div>
        <!-- list topic -->
    </div>
}
