@model Project.Models.User

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile">
    <div class="fit">
        <div class="profile-avatar">
            <img src="~/images/profile/@Url.Content(Model.avatar)" alt="">
        </div>
        <div class="profile-infor">
            <h2>@Model.username</h2>
            <p><i class="fas fa-map-marker"></i> @Model.address</p>
            <p><i class="fas fa-comment"></i> @Model.post Post</p>
            <p><i class="fas fa-id-badge"></i> @Model.role</p>
        </div>
        @if (User.IsInRole("admin") || Session["uid"] != null && Session["uid"].ToString() == Model.user_id.ToString())
        {
            <div class="profile-setting">
                <a href="@Url.Action("Setting","User",new {id=Model.user_id })" class="btn-setting"><i class="fas fa-cog"></i> Thiết lập</a>
                <a href="@Url.Action("Changepass","User",new {id=Model.user_id })" class="btn-setting"><i class="fas fa-cog"></i> Đổi mật khẩu</a>
            </div>
        }
    </div>
</div>
<!-- profile div -->
<section class="profile-line">
    <div class="fit">
        <div class="col-duy-4">
            <div class="profile-start">
                <p><i class="far fa-clock"></i> Gia nhập @Model.timeJoin</p>
                <p><i class="fas fa-calendar-alt"></i> Sinh thần @Model.birthday</p>
            </div>
        </div>
        <!-- col duy 4 -->
        <div class="col-duy-8 white-bg">
            <div class="list-comment">
                @using (Html.BeginForm())
                {
                    if (ViewBag.Msg != null)
                    {
                        <div class="msg-error">@ViewBag.Msg</div>
                    }
                    if (ViewBag.Success != null)
                    {
                        <div class="green">@ViewBag.Success</div>
                    }
                    <div class="form-group">
                        <p>Mật khẩu cũ</p>
                        <input type="password" name="pw" id="pw" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <p>Mật khẩu mới</p>
                        <input type="password" name="npw" id="npw" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <p>Xác nhận mật khẩu mới</p>
                        <input type="password" name="cfpw" id="cfpw" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Xác nhận" class="btn btn-submit" />
                    </div>
                }
            </div>
            <!-- list comment -->
        </div>
        <!-- col duy 8 -->
    </div>
</section>