@model IEnumerable<Project.Models.baiviet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>printAllReport</title>
    <link rel="stylesheet" href="~/Content/admin.css">
</head>
<body>
    <center><h2>BÁO CÁO BÀI VIẾT</h2></center>
    <table class="table">
        <tr>
            <th>
                Tên
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Lượt xem
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Thumbnail
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("View", "Article", new { id = item.aid })">@item.name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.view)
                </td>
                <td>
                    <a href="@Url.Action("Index","User",new {id=item.uid })">@item.user</a>
                </td>
                <td>
                    <img style="width:100px;" src="~/images/thumbnail/@Url.Content(item.img)" />
                </td>
            </tr>
        }

    </table>
</body>
</html>
